app = "cnipheadless"
primary_region = "bru"

# Definieer het proces 'app'
[processes]
  app = ""

# Koppel de service expliciet aan het 'app'-proces
[[services]]
  processes = ["app"]
  internal_port = 3000
  protocol = "tcp"

  [services.concurrency]
    hard_limit = 40
    soft_limit = 20

  [[services.ports]]
    handlers = ["http"]
    port = 80

  [[services.ports]]
    handlers = ["tls", "http"]
    port = 443
