- name: Deploy
  env:
    FLY_API_TOKEN: ${{ secrets.FLY_API_TOKEN }}
    STORYBLOK_TOKEN: ${{ secrets.STORYBLOK_TOKEN }}
  run: |
    cat > fly.toml <<'EOF'
app = "cnipheadless"
primary_region = "bru"

[env]
  STORYBLOK_TOKEN = "${STORYBLOK_TOKEN}"

[[services]]
  internal_port = 3000
  processes = ["app"]
  protocol = "tcp"
  [services.concurrency]
    hard_limit = 40
    soft_limit = 20
  [[services.ports]]
    handlers = ["http"]
    port = 80
  [[services.ports]]
    handlers = ["tls", "http"]
    port = 443
EOF

    flyctl secrets set STORYBLOK_TOKEN="${STORYBLOK_TOKEN}" -a cnipheadless -y
    flyctl deploy --remote-only --build-arg NEXT_TELEMETRY_DISABLED=1
